<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OrganiCity Accounts - Asset Creation Demo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <img src="https://github.com/OrganicityEu/organicityeu.github.io/raw/master/images/organicity_logo_pink_100.png">
      <h2>Asset Creation Demo</h2>
      <hr>
      <a href="/" class="btn btn-default">Home</a>
      {% if user %}
        <a href="/profile" class="btn btn-default">Create an Asset</a>
        <a href="/auth/logout" class="btn btn-default">Logout</a>
      {% else %}
        <a href="/auth/oauth2" class="btn btn-default">Login</a>
      {% endif %}
      <hr>
      {% block content %}
      {% endblock %}
    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
