{% extends 'layout.html' %}

{% block content %}
  <h3>{{ title }}</h3>
  Annotation:<br>
  <textarea id="annotation" style="width:600px;height:300px;font-family:monospace"></textarea>
  <br>
  <button id="send">Send Annotation</button>

  <h4>Logging</h4>
  <button id="refresh">Refresh the token</button>

  <p>
    Access token: <br>
    <textarea id="accessToken" style="width:600px;height:150px;font-family:monospace" disabled>{{user.accessToken}}</textarea>
  </p>
  <p>
    Offline token:<br>
    <textarea id="refreshToken" style="width:600px;height:150px;font-family:monospace" disabled>{{user.refreshToken}}</textarea>
  </p>


  <script type="text/javascript" src="/js/annotations.js"></script>

{% endblock %}
