var config = {
  oAuth2: {
    authorizationURL : 'https://accounts.organicity.eu/realms/organicity/protocol/openid-connect/auth',
    tokenURL : 'https://accounts.organicity.eu/realms/organicity/protocol/openid-connect/token',
    clientID: 'demo',
    clientSecret: '0b2cbd34-a05e-4104-b7ec-350ee81bb7eb',
    callbackURL: 'http://localhost:3000/auth/oauth2/callback'
  }
};

config.accounts_token_endpoint = {
	protocol: 'https',
	host: 'accounts.organicity.eu',
	port: '443',
	path: '/realms/organicity/protocol/openid-connect/token',
};

module.exports = config;
